body {
	padding-top: 70px;
	font-family: 'Open Sans', sans-serif;
}

body > .container {
	min-height: 600px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

.navbar-custom {
    background-color: #2a3c50 ;
    color: #ffffff;
    border-radius: 0;
}

.navbar-nav > li > a {
    color: #fff;
}

.navbar-nav > li > a:hover, 
.navbar-nav > li > a:focus,
.navbar-header > a:hover {
	color: #ccc;
    background-color: transparent;
}

.navbar-nav > li > .dropdown-toggle {
	background-color: transparent;
}

.navbar-nav > li > .dropdown-toggle:hover,
.navbar-nav > li > .dropdown-toggle:focus {
	background-color: #253547;
}

.dropdown-fix {
	background: #2a3c50;
}

.dropdown-fix > li > a {
	color: #fff;
	background-color: transparent;
}

.navbar-custom .navbar-brand {
    color:#eee;
}

.user-brand{
  	font-family: 'Kaushan Script', cursive;
  	font-size: 2em;
}

.user-info{
	text-align: center;
}

.btn-post{
	width: 30%;
}

.btn-follow{
	width: 80%;
	font-size: 1.5em;
}

.dashboard-ads{
	padding: 10px;
	color: #333;
	text-align: center;
	background-color:#eceff1 ; 
	border: 1px solid #cfd8dc ;
	border-radius: 2px;
}

/*Modals*/
.modal-commonhead{
	background: #2a3c50;
	color: #fff;
}

footer {
	color: #eee;
	text-align: center;
	background: #2a3c50;
	padding: 15px;
}

footer a {
	color: #ccc;
}

footer a:hover, footer a:focus {
	color: #777;
	text-decoration: none;
}

/*?*/
.profile-pic-lg {
	width: 200px;
	height: 200px;
}

.profile-pic-sm {
	width: 50px;
	height: 50px;
}

.profile-pic-xs {
	width: 30px;
	height: 30px;
}

.post-img {
	width: 100%;
}

.post-img-modal {
	max-height: 420px;
}

.btn.sharp {
  border-radius: 0;
}

.ratio{
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 60% ; /* % of width, defines aspect ratio*/
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    min-height: 250px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}