body {
	padding-top: 70px;
}

body > .container {
	min-height: 600px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}

footer {
	color: #eee;
	text-align: center;
	background: #333;
	padding: 15px;
}

/*Debug*/
/*body {
	border: 1px solid red;
}

.container {
	border: 1px solid black;
}

footer {
	border: 1px solid blue;
}
*/